h1 {
  text-align: center;
  font-size: 45px;
}
p {
  font-size: 20px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}
.font {
  font-family: sans-serif;
}
ul {
  padding-left: 80px;
}


#js {
  display: none;
}
#csharp {
  display: none;
}

#ruby {
  display: none;
}
